.feynman__link {
  color: #000;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #000;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  margin-right: 48px;
  z-index: 2;
  right: 0;
  top: 45%;
}

/* Top:45%, а не 50%, чтобы выровнять по надписи слева */


.feynman__link:hover {
  color: #2f80ed;
  text-decoration: none;
  transition: .4s;
  opacity: 90%;
}