

/* Вроде бы все исправил, сложно понимаю БЭМ почему-то. 
Надеюсь, на этот раз все в порядке.
Ещё раз спасибо за ревью. */



.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif !important;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

a.header__link:visited {
  color: #2f80ed;
  text-decoration: none;
}

a.header__link:hover {
  color: #1f1f1f;
  text-decoration: none;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  font-color: #000;
}

.logo {
  height: 35px;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  width: 100%;
  max-width: 730px;
  line-height: 96px;
  z-index: 2;
  display: flex;
  align-items: center;
  align-self: center;
  height: 100%;
}

.header__subtitle {
  position: absolute;
  width: 100%;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
}

.header__main-illustration {
  object-fit: contain;
  position: absolute;
  object-position: right;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
  z-index: 0;
}


/* Main content */
/* Секция, блок description */

.content {
  background-color: white;
  z-index: 1;
}

.two-columns {
  display: flex;
  width: 80%;
  padding: 100px 0;
  justify-content: space-between;
  margin: auto;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
}

.two-columns__brief_main-text {
  min-width: 784px;
  width: 80%;
}

.description_header {
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  line-height: 1.2;
}

.two-columns__span-accent {
  font-weight: bold;
  margin: 30px 0;
}

.two-columns__paragraphs {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  line-height: 34px;
}


/* Секция, блок digits */

.digits {
  justify-content: center;
  width: 100%;
  padding: 40px 0;
}

.digits__text_center {
  margin: auto;
  width: 60%;
  text-align: center;
}

.digits__title_text {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  line-height: 69px;
}

.digits__subtitle_text {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  line-height: 34px;
}

.digits__block_margin {
  margin-top: 20px;
}

.digits__table {
  margin: auto;
  width: 1100px;
  display: flex;
  flex: 1 0 21%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.digits__cell {
  width: 250px;
  margin: 60px 0;
}

.digits__table_heading {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.15;
}

.digits__table_text {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.digits__table_citation {
  margin-top: 20px;
}


/* Секция, блок feynman */

a.feynman__link:hover {
  color: #1f1f1f;
  text-decoration: none;
}

.feynman {
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  width: 100%;
  height: 790px;
  padding-top: 100px;
}

.feynman__text_center {
  text-align: center;
  z-index: 2;
  margin: auto;
}

.feynman__title_text {
  margin: auto;
  width: 648px;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  margin-bottom: 70px;
  z-index: 2;
}

.feynman__subtitle_text {
  color: #000;
  text-decoration: none;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  z-index: 2;
}

/* Этот margin нужен, чтобы текст (в моем браузере, как минимум) выглядел как на макете. 
Можно удалить, если в этом нет необходимости. Этот пункт написан в ответ на комментарий на странице 12:
"В вашей вёрстке внешний вид секции может отличаться от прототипа. Ссылка может располагаться не на
одном уровне с подзаголовком." */

.feynman__subtitle_margin {
  margin-bottom: 55%
}

/* ----------------------------- */



.feynman__link {
  white-space: nowrap;
  position: absolute;
  margin-right: 48px;
  z-index: 2;
  right: 0;
  top: 50%;
}

a.feynman__link:hover {
    color: #2f80ed;
    text-decoration: none;
}

.feynman__bg {
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}


/* Секция, блок kaufman */

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  justify-content: center;
  width: 100%;
  padding-top: 90px;
  color: white;
  overflow: hidden;
  z-index: 0;
}

.kaufman__text_center {
  margin: auto;
  width: 60%;
  text-align: center;
}

.kaufman__title_text {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  line-height: 69px;
}

.kaufman__subtitle_text {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  line-height: 34px;
}

.kaufman__subtitle_margin {
  margin-top: 20px;
}

.kaufman__table {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  flex: 1 0 21%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;
  padding-top: 80px;
}

.kaufman__cell {
  width: 200px;
  margin-bottom: 80px;
}

.kaufman__table_heading {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.15;
}

.kaufman__table_text {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.kaufman__triangle-image {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0; 
  right: -210px;
  z-index: -1;
}


/* Подвал сайта, блок footer */

.footer {
  width: 100%;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  min-height: 250px;
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column_content_copyright {
  display: block;
  width: 50%;
  position: relative;
}

.footer__column_author {
 position: absolute;
 bottom: 0;
}

.footer__column_author_text {
  color: white;
  margin: 18px 0;
  font-size: 18px;
  line-height: 25px;
}

.footer__column_info {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.footer__column_info_margin {
  margin-left: 40%;
}

.footer__column_info_text {
  color: white;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.footer__column_text_margin {
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-heading {
  font-weight: bold;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

a.footer__column-link:hover {
    color: #2f80ed;
    text-decoration: none;
}

/* Комментарий из код-ревью: 

"Не нужно использовать br для переноса строк внутри одного заголовока - для этого обычно ограничивают ширину заголовка и тогда он перенесется на новую строку сам. 
br использовать в таких случаях плохо потому что если текст в заголовке поменяется - перенос строки или перетрется, или будет работать некорректно.
Исправить для всех случаев."

 - я подглядел на VK.com, там боковое меню было сделано через OL (но я использовал UL, что, на мой взгляд, не так важно в этом случае).
Как ограничить заголовок - я так и не сообразил, поскольку в брифе нет точной разметки по длинне, а если подбирать % - выходит криво.
Надеюсь это решение тоже верное. :)"

*/

.footer__nav_list {
  list-style-type: none;
  padding: 0;
}