

/* Вроде бы все исправил, сложно понимаю БЭМ почему-то. 
Надеюсь, на этот раз все в порядке.
Ещё раз спасибо за ревью. */

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif !important;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

a.header__link:visited {
  color: #2f80ed;
  text-decoration: none;
}

a.header__link:hover {
  color: #1f1f1f;
  text-decoration: none;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  font-color: #000;
}

.logo {
  height: 35px;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  width: 100%;
  max-width: 730px;
  line-height: 96px;
  z-index: 2;
  display: flex;
  align-items: center;
  align-self: center;
  height: 100%;
}

.header__subtitle {
  position: absolute;
  width: 100%;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
}

.header__main-illustration {
  object-fit: contain;
  position: absolute;
  object-position: right;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
  z-index: 0;
}


/* Main content */
/* Секция, блок description */

.content {
  background-color: white;
  z-index: 1;
}

.description {
  display: flex;
  width: 80%;
  padding: 100px 0;
  justify-content: space-between;
  margin: auto;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  line-height: 1.2;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  line-height: 34px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__span-accent_margin {
  margin: 30px 0;
}

/* Секция, блок digits */

.digits {
  justify-content: center;
  width: 100%;
  padding: 40px 0;
}

.section__title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  line-height: 69px;
  margin: auto;
  width: 60%;
  text-align: center;
}

.section__subtitle {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  line-height: 34px;
  margin: auto;
  width: 60%;
  text-align: center;
}

.section__subtitle_margin {
  margin-top: 20px;
}

.table {
  margin: auto;
  width: 1100px;
  display: flex;
  flex: 1 0 21%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin: 60px 0;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.15;
}

.table__text {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.table__text_citation {
  margin-top: 20px;
}


/* Секция, блок feynman */

a.feynman__link:hover {
  color: #1f1f1f;
  text-decoration: none;
}

.feynman {
  background-color: #f2f2f2;
  position: relative;
  width: 100%;
  height: 790px;
  padding-top: 100px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}

.feynman__title {
  margin: auto;
  width: 648px;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  margin-bottom: 70px;
  z-index: 2;
  text-align: center;
}

.feynman__subtitle {
  color: #000;
  text-decoration: none;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  z-index: 2;
  margin: auto;
  text-align: center;
}

.feynman__link {
  white-space: nowrap;
  position: absolute;
  margin-right: 48px;
  z-index: 2;
  right: 0;
  top: 50%;
}

a.feynman__link:hover {
    color: #2f80ed;
    text-decoration: none;
}


/* Секция, блок kaufman */

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  justify-content: center;
  width: 100%;
  padding-top: 90px;
  color: white;
  overflow: hidden;
  z-index: 0;
}

.table_theme_dark {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  flex: 1 0 21%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;
  padding-top: 80px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-bottom: 80px;
}

.table__heading_theme_dark {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.15;
}

.table__text_theme_dark {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.kaufman__triangle-image {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0; 
  right: -210px;
  z-index: -1;
}


/* Подвал сайта, блок footer */

.footer {
  width: 100%;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  min-height: 250px;
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.footer__column {
  color: white;
  font-size: 18px;
  margin: 0;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg); 
  background-repeat: no-repeat;
  width: 185px;
}

.footer__column_content_copyright {
  display: block;
  width: 50%;
  position: relative;
}

.footer__column_content_info {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.footer__column_content_social {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.footer__column_content_author {
 position: absolute;
 bottom: 0;
 margin: 18px 0;
 line-height: 25px;
}

.footer__column_content_text-margin {
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-heading {
  font-weight: bold;
  margin: 0;
}

.footer__column_link {
  color: white;
  margin: 0;
  text-decoration: none;
}

a.footer__column_link:hover {
    color: #2f80ed;
    text-decoration: none;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__nav-list {
  list-style-type: none;
  padding: 0;
}